/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /* обнуляем отступы и убираем бордюры */
    vertical-align: baseline; /* приводим все к одной базовой линии */
    background: transparent; /* чтобы не проскакивали левые фоны, установленные по умолчанию */
    font-size: 100%; /* размер шрифта всем одинаковый */
}

a { /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
}

table { /* устраняем отступы между ячейками таблицы */
    border-collapse: collapse;
    border-spacing: 0;
}

td, td img {
    vertical-align: top; /* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
    margin: 0; /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
    font-size: 100%; /* делаем размер шрифтов везде одинаковым */
    outline: none;
}

input[type="text"], input[type="password"], textarea {
    padding: 0; /* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] { /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
    vertical-align: bottom;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
    min-height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}

body {
    color: #7e7f84;
    text-align: left;
    font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
    min-height: 100%;
    font-family: 'Roboto', sans-serif; /* font-family: 'Roboto Condensed', sans-serif; */
}

a, a:visited { /* порядок правил для ссылок имеет значение */
    color: #f45a40;
    text-decoration: underline;
}

a:hover {
    color: #f45a40;
    text-decoration: none;
}

a:focus, a:active {
    color: #f45a40;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {

    max-width: 100%;
}

.clr {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* --------------- /базовые настройки ---------*/
.center_main {
    max-width: 1170px;
    margin: 0 auto;
}

.h_top {
    padding: 50px 0 0 0;
    border-bottom: 1px solid #EEEEEE;
}

.logo {
    float: left;
    font-size: 1.375em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.cont_basket {
    float: right;
}

.cont_basket p {
    float: left;
    font-size: 0.75em;
    font-weight: 600;
}

.cont_basket p img {
    vertical-align: middle;
    margin-right: 7px;
}

.header_basket {
    border: 1px solid #EEEEEE;
    padding: 8px 25px;
    margin-left: 24px;
}

.header_basket a {
    text-decoration: none;
    text-transform: uppercase;
    color: #7e7f84;
    margin-left: 37px;
}

.header_basket a:hover {
    color: #f45a40;
}

.header_phone {
    padding-top: 7px;
}

.h_bottom {
    padding: 27px 0 10px 0;
}

.menu {
    float: left;
}

.menu li {
    float: left;
    text-transform: uppercase;
    margin-right: 37px;
    font-size: 0.875em;
}

.menu li a {
    color: #7e7f84;
    text-decoration: none;
}

.menu li:first-child > a {
    color: #f45a40;
}

.menu li a:hover {
    color: #f45a40;
}

.search_block {
    float: left;
    margin-top: -3px;
}

.search_btn {
    float: left;
    margin-top: 2px;
    margin-right: 6px;
}

.search {
    float: left;
    font-size: 0.875em;
    color: #7e7f84;
    border: none;
    line-height: 1.4;
}

.my-slider {

}

.unslider-nav {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    top: -30px;
}

.my-slider ul li {
    position: relative;
    color: #f45a40;
}

.my-slider ul li h2 {
    position: absolute;
    top: 204px;
    left: 31px;
    font-size: 3.6875em;
    font-weight: bold;
    line-height: 1.1;
}

.my-slider ul li p {
    position: absolute;
    top: 346px;
    left: 31px;
    font-size: 0.875em;
}

.block3_main {
    margin-bottom: 50px;
}

.block3_main article {
    width: 31.6%;
    float: left;
    margin-left: 2.6%;
}

.block3_main article:first-child {
    margin-left: 0;
}

.block3_main article img {
    display: block;
    margin: 0 auto 20px auto;
}

.block3_main article h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.375em;
    margin-bottom: 20px;
}

.block3_main article p {
    font-size: 0.875em;
}

.block4-section {
    margin-bottom: 60px;
}

.block4-section > h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.375em;
    color: #67686d;
    margin-bottom: 30px;
}

.block4-maine {

}

.block4-maine article {
    width: 23%;
    margin-left: 2.666666666666%;
    float: left;
}

.block4-maine article:first-child {
    margin-left: 0;
}

.block4-maine article img {
    display: block;
    margin: 0 auto;
}

.block4-maine-content {
    padding: 20px 20px 0 20px;
    border: #eeeeee solid 1px;
    border-top: none;
}

.block4-maine-content h2 {
    color: #67686d;
    font-size: 1.125em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.block4-maine-content h3 {
    font-size: 0.875em;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.block4-maine-content p {
    font-size: 0.625em;
    margin-bottom: 15px;
}

p.price-basket {
    border-top: 1px solid #eeeeee;
    font-size: 0.875em ;
    color: #f45a40;
    padding: 15px 0;
    margin-bottom: 0;
}

.price {
    float: left;
}

.basket-btn {
    float: right;
}